<div>
  <h1>Que me parece Angular?</h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus in,
      pariatur nulla hic reiciendis quasi quia delectus, facilis aliquam,
      voluptates optio vitae non. Esse minima tempore doloribus earum voluptatem
      a!
    </p>
  </article>
  @defer (on viewport) {
      <app-comments />
  } @placeholder {
    <h1>Futuros comentarios</h1>
  } @loading (minimum 1s) {
    <p>Cargando comentarios ...</p>
  }
</div>
>

<!-- <router-outlet /> -->
